*{
    margin: 0;
    padding: 0;
}

body{

    font-family: "Roboto", sans-serif;
    display: flex;    
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

img{
    width: 15%;
}

h1{
    margin: 25px auto;
    color: #1d1e21;
    font-size: 50px;

}


a{
    color: white;
    font-size: 25px;
    
    text-decoration: none;
}

.boton{
    background: #05a5db;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin: 15px auto;
}
p{
    margin: 10px auto;
    font-size: 20px;
    color: #1d1e21;
    font-weight: 300;
    
}

p a{
    color: #05a5db;
    opacity: 1;
}

p a:hover{
    opacity: 0.6;
}

.boton:hover{
    opacity: 0.8;
}

.opciones{
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.exe{
    border: solid #05a5db 5px;
    border-radius: 10px;
    width: 40%;
    height: 30%;

}

.exe a{
    color:#05a5db;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px;
}

.exe:hover{
    transform: scale(1.1);

} 


@media screen and (max-width:900px){
  img{
    width: 25%;
  }
  h1{
      font-size: 25px;
  }

  p{
      font-size: 12px;
      margin: 0px auto;
  }

  .exe{
      border: solid #05a5db 3px;
      border-radius: 5px;
      height: 20%;
  }

  .exe a{
      margin: 2px;
      text-align: center;
      font-size: 15px;
  }
 
}

@media screen and (max-width:500px){
    img{
        width: 25%;
      }
      h1{
          font-size: 25px;
          text-align: center;
      }
    
      p{
          font-size: 12px;
          margin: 0px auto;
          text-align: center;
      }

      .opciones{
          margin: 20px auto;
      }
      .exe{
        border: solid #05a5db 3px;
        border-radius: 5px;
        height: 20%;
        width: 70%;
        margin: 5px auto;
    }
  
    .exe a{
        margin: 2px;
        text-align: center;
        font-size: 15px;
    }
     

}


